:root {
  --primary-font: "Roboto", sans-serif;
  --primary-brand-iris: #4d5ae5;
  --pressed-state-ocean: #404bbf;
  --dark-navy-blue: #2e2f42;
  --sucess-green: #31d0aa;
  --text-slate: #434455;
  --subtle-text-light-slate: #8e8f99;
  --accent-cornflower: #e7e9fc;
  --light-cloud: #f4f4fd;
  --modal-overley: #2e2f42;
  --hero-background: #2e2f42;
  --white-background: #ffffff;
  --modal-background: #fcfcfc;
}

body {
  font-family: var(--primary-font);
  color: var(--text-slate);
  background-color: var(--white-background);
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

h2 {
  color: var(--dark-navy-blue);
  font-size: 36px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0.72;
  text-transform: capitalize;
}

/* хедер */
.web-logo {
  color: var(--primary-brand-iris);
  font-family: Raleway;
  font-size: 18px;
  font-weight: 800;
  line-height: 21px;
  letter-spacing: 0.54;
  text-transform: uppercase;
}
.studio-logo {
  color: var(--dark-navy-blue);
  font-family: Raleway;
  font-size: 18px;
  font-weight: 800;
  line-height: 21px;
  letter-spacing: 0.54;
  text-transform: uppercase;
}

.link-page {
  color: var(--dark-navy-blue);
  line-height: 24px;
  letter-spacing: 0.32;
  font-weight: 500;
}

.link-page:focus,
.link-page:hover {
  color: var(--pressed-state-ocean);
}

.contact-link {
  font-style: normal;
  color: var(--text-slate);
}

.contact-link:hover,
.contact-link:focus {
  color: var(--pressed-state-ocean);
}

/* секція 1 */
.hero-color {
  background-color: var(--dark-navy-blue);
}

.hero-title {
  color: var(--white-background);
  text-align: center;
  font-family: Roboto;
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: 60px; /* 107.143% */
  letter-spacing: 1.12;
}

.hero-button {
  background-color: var(--primary-brand-iris);
  color: var(--white-background);
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  padding: 16px 32px;
  cursor: pointer;
}

.hero-button:hover {
  background-color: var(--pressed-state-ocean);
  color: var(--white-background);
}

/* секція 2 */
.list-advantages h3 {
  color: var(--dark-navy-blue);
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.4;
}

/* секція 3 */
.list-team h3 {
  color: var(--dark-navy-blue);
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.4;
}

/* футер */
.footer-text {
  color: var(--light-cloud);
}

.footer-color {
  background-color: var(--dark-navy-blue);
}

.studio-logo-footer {
  color: var(--light-cloud);
  font-family: Raleway;
  font-size: 18px;
  font-weight: 800;
  line-height: 21px;
  letter-spacing: 0.54;
  text-transform: uppercase;
}

/* портфоліо */
.button-active {
  background-color: var(--pressed-state-ocean);
  color: var(--white-background);
  cursor: pointer;
}

.button-filter {
  background-color: var(--light-cloud);
  color: var(--primary-brand-iris);
  cursor: pointer;
}

.list-projects h3 {
  color: var(--dark-navy-blue);
  font-size: 20px;
  font-weight: 500;
  line-height: 24px; /* 120% */
  letter-spacing: 0.4px;
}
